<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <h1>Soy un título</h1>

        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quia enim asperiores ab distinctio sed, mollitia qui dolore vitae iste corrupti minima nisi voluptates excepturi impedit itaque unde? Accusantium, architecto!
            </p>
        </section>
    </main>

    <footer>
        
    </footer>

</body>

</html>
