<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>
<body>
    <!--Header-->
    <header>
        
     <!-- Logo -->
                 
        

    
        <!-- nav bar -->

        <nav>

            <ul>

                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>

          
        </nav>

    

    </header>

    <!--Main-->

    <main>
        <aside class="leftbar" >
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quasi excepturi aperiam qui quidem cupiditate odio dolorem dignissimos ex officia illo cum facere natus labore ipsa incidunt recusandae atque fuga?</p>
            </div>
                
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur accusamus natus, non obcaecati odit voluptas suscipit beatae ipsam animi tempore, veniam voluptatum maiores sequi dolore. Alias mollitia expedita atque. Inventore.</p>
            </div>
                
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex corporis alias expedita magni rerum asperiores facere dolorum. Sit, facere? Nihil aut asperiores, rerum magnam id molestias incidunt deleniti officia explicabo.</p>
            </div>

        </aside>    

        <section class="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, dolores! Facilis eius fuga nulla sapiente, aut minus quos architecto doloremque, eveniet iste sed totam omnis molestiae quidem exercitationem in rem.</p>

        </section>


    </main>

    <!--Footer-->
    <footer>


    </footer>
    
</body>
</html>
